@tailwind base;
@tailwind components;
@tailwind utilities;

/* dancing font */
.font-dancingScript {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* pacifico font */
.font-pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}