@tailwind base;
@tailwind components;
@tailwind utilities;

/* dancing font */
.font-dancingScript {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* pacifico font */
.font-pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
/* caveat font */
.font-caveat-normal {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.font-caveat-semibold {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.font-caveat-bold {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.font-caveat-extrabold {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* shantell sans font */
.font-shantell-sans-normal {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "BNCE" 10,
    "INFM" 0,
    "SPAC" 0;
}
.font-shantell-sans-semibold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings:
    "BNCE" 10,
    "INFM" 0,
    "SPAC" 0;
}
.font-shantell-sans-bold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "BNCE" 10,
    "INFM" 0,
    "SPAC" 0;
}
.font-shantell-sans-extrabold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings:
    "BNCE" 10,
    "INFM" 0,
    "SPAC" 0;
}